<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head', {tag: meta}); %>
<body>
    <% include ../partials/nav %>
   <main>

      <section id="Location" class="location">
        <ul class="list">
          <li class="list__item">
            <h2 class="title">Country: <span class="deviceRes" id="country"> <%= location.country_name %> </span> </h2>
          </li>

          <li class="list__item">
            <h2 class="title">Region: <span class="deviceRes" id="region"> <%= location.region_name %> </span> </h2>
          </li>

          <li class="list__item">
            <h2 class="title">City: <span class="deviceRes" id="city">  <%= location.city %></span> </h2>
          </li>

          <li class="list__item"> 
            <h2 class="title">Geolocation: <i class="arrow arrow--down"></i> </h2> 

            <ul class="panel">
              <li class="list__item">
                <h2 class="title"> Latitude: <span class="deviceRes" id="latitude">  <%= location.latitude %> </span> </h2> 
              </li>
              
              <li class="list__item">
                <h2 class="title"> Longitude: <span class="deviceRes" id="longitude">  <%= location.longitude %> </span> </h2> 
              </li>
            </ul>
          </li>

        </ul>
      </section>

   </main>
   <% include ../partials/footer %>
</body>   
  <% include ../partials/scripts %> 
</html>